@import 'iconfont';
*{
    margin: 0;
    padding: 0;
    list-style: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    }
html {
    -ms-touch-action: none;
}
body {
    font-size: 12px;
    font-family: ubuntu, helvetica, arial;
    overflow: hidden; 
}
//html,body,#wrapper{height: 100%;}
#wrapper {
    position: absolute;
    z-index: 1;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    overflow: hidden;
}
/*必须#wrapper的高度小于#scroller的高度,即#scroller的height不能为100%,否则不能滚动*/
#scroller {
    position: absolute;
    z-index: 1;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    width: 100%;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -o-text-size-adjust: none;
    text-size-adjust: none;
}
.active2{height: 100%;}
.content{
    display: none;
    &.active{
        display: block;
    }
}
 .h1{
     font-size: 14px;
     color: #FF9900;
    line-height: 25px;
     }
 .h2{
     display: -webkit-box;
     overflow: hidden;
     text-overflow: ellipsis;
     white-space: normal !important;
     -webkit-line-clamp: 2;
     -webkit-box-orient: vertical;
     font-size: 18px;
     color: #000000;
     font-weight: 800;
     line-height: 30px;
    
    }
 .h3{
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal !important;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    width: 10rem;
    font-size: 15px;
    color: #949494;
    line-height: 25px;
 }
 .box-1{
     width: 10rem;
     background: #F6F6F6;
     overflow: hidden;
     .bar1{
         position: relative;
         //height: 6rem;
         height: 10rem;
         width: 20rem;
         border-radius: 0 0 50% 50%;
         overflow: hidden;
         .zhezhao{
            position: absolute;
            top: 0;bottom: 0;left: 0;right: 0; 
            background: rgba(0,0,0,.4);
         }
     }
 } 
.bar2{
    position: relative;
    height: 6rem;
    width: 10rem;
    padding: 10px;
    i{
      position: absolute;
      bottom: 20px;  
    }
    .icon-dengpaolunkuo{
        right: 80px;
    }
    .den-num{
        position: absolute;
        bottom: 20px; 
        right: 65px; 
        color: #333333;
        font-size: 14px;
    }
    .icon-fenxiang{
        right: 20px;
    }
}
.bar{
    img{
        height: 5rem;
        width: 10rem; 
    }
}
.footer{
    position: relative;
    height: 12rem;
    width: 10rem;
    border-top: 10px solid #BCBCBC;
    .round1{
        position: relative;
        height: 6rem;
        width: 6rem;
        border-radius: 3rem;
        border:1px solid #3F3F3F;
        margin: 20px auto;
        .num1{
            display: block;
            font-size: 3rem;
            color: #1C1C1C;
            line-height: 6rem;
            text-align: center;
            font-family: arial;
        }
        .num2{
            position: absolute;
            top: 3.4rem;
            left: 4rem;
             font-size: 0.6rem;
             color: #BFBFBF;
            font-weight: 300;
            font-family: arial;
        }
    }
        ul{
            display: flex;
            flex-direction: row;
            justify-content: center;
            li{
                font-size: 20px;
                color: #3F3F3F;
                margin: 10px;
            }
        }
        .foot-word{
            position: absolute;
            bottom: 70px;
            left: 50%;
            font-size: 15px;
            color: #3F3F3F;
            margin-left:-77px;
        }
        .line{
            position: absolute;
            bottom: 54px;left: 1rem;
            height: 1px;width: 8rem;
            background: #000;
        }
        .kankan{
            position: absolute;
            bottom: 20px;
            left: 50%;
            font-size: 15px;
            color: #1C1C1C;
            margin-left:-48.75px;
        }
        .zao{color:#E0620D}
}
/* 顶部固定的东西*/
.menu-btn{
    z-index: 999;
    position: fixed;
    top: 30px;
    left: 30px;
    height: 40px;
    width: 40px;
    border-radius: 20px;
    background: rgba(0,0,0,.5);
    line-height: 40px;
    text-align: center;
}
.icon-caidan{
   color: #fff;
   font-size:30px;    
}
.time{
    z-index: 999;
    position: fixed;
    top: 30px;
    right: 30px;
    height: 40px;
    width: 130px;
    border-radius: 20px;
    background: rgba(0,0,0,.5);
}
 .icon-taiyang{
     z-index: 1004;
      position: absolute;
      top:30px;
      right: 120px;
      font-size: 25px;
      width: 1em;
      color: #FFC00C; 
      line-height: 40px;
      margin-left: 15px;
      animation:xuanzhuan 10s infinite;
    }
 @keyframes xuanzhuan{
     0%{
        -webkit-transform:rotate(0);
        transform: rotate(0);
    }
    50%{
         -webkit-transform:rotate(180deg);
        transform: rotate(180deg);
    }
     100%{
        -webkit-transform:rotate(360deg);
        transform: rotate(360deg);
    }
   
}
.riqi{
    position: absolute;
    top: 5px;
    left: 50px;
    .day{
        color: #fff;
        font-size: 10px;
        font-weight: 400;
        }
    .year{
        color: #fff;
        font-size: 8px;
    }
}
#yuan{
    z-index: 1000;
    position: absolute;
    opacity: 0.3;
    top: 1.26rem;
    left: 1rem;
    width: 8rem;
    height: 8rem;
}
.word{
    z-index: 1000;
    position: absolute;
    top: 4.1rem;
    left: 3.5rem;
    width: 3rem;
    height: 3rem;
}
.wenzi1,.wenzi2{
    z-index: 1000;
    position: absolute;
    top: 7.1rem;
    p{
        float: left;
        font-size: 12px;
        color: #fff;
    }
}
.wenzi1{left:3.5rem}
.wenzi2{left:4.35rem}
/*end*/

/*侧边栏*/
html,body,.slide-menu{ height: 100%;}
.slide-menu{
    z-index: 1999;
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 0;left: 0;
    .slide-l{
        z-index: 2;
        position: relative;
        left:0;top:0;
        float: left;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 7rem;
        height: 100%;
        background: rgba(230,230,200,.97);
        .touxiang{
            position: absolute;
            top: 60px;
            height: 120px;
            width: 120px;
             text-align: center;
            border-radius: 60px;
            background: #fff;
            i{
                font-size: 80px;
                color: #bcbcbc;
                line-height: 120px;
            }
        }
        .geren{
            position: absolute;
            top: 195px;
            font-size: 18px;
            color: #3f3f3f;
            font-weight: 500;
        }
        ul{
            margin-top: 150px;
            li{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            height: 100px;
            line-height: 100px;
            margin-bottom: 0px;
                i{
                    font-size: 40px;
                    color:#bcbcbc;
                    margin-right: 20px;
                }
                p{font-size: 20px;color: #3f3f3f;}
             //   &:nth-child(1){ i{color: #FFC00C;} }
                &.active i,&:active i{
                    color: #FFC00C;
                }
                 &.active{
                    .icon-dengpao:before{
                      content: "\e618" !important;
                    }
                    .icon-01:before{
                        content:"\e6b2" !important;
                    }
                    .icon-shezhi1:before{
                        content:"\e666" !important;
                    }
                }
                    }
                }
                
            }
   .slide-r{
         z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
        float: left;
        width: 10rem;
        height: 100%;
        background: rgba(0,0,0,.4);
}
}
.slide-menu.hide{display: none;}

/*end*/

/*话题页面*/
    .huati{
        li{
            height:4rem;
            img{
                width: 10rem;
                height: 4rem;
            }
        }
    }
/*设置*/
.set{
    position: relative;
    width: 10rem;
    background: #F6F6F6;
    .top{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 10rem;
        height: 1.5rem;
        background: #fff;
        .caidan{
            position: absolute;
            left: 20px;
            width: 20px;
            height: 25px;
            }
        p{
            font-size:1.5em;
            font-weight: 800;
            color:#000;
        }
    }
    ul{
       li{
           position: relative;
            padding-left: 20px;
            margin-top: 0.5rem;
            width: 10rem;
            height: 1.3rem;
            line-height: 1.3rem;
            background: #fff;
            border-top: 1px solid #bfbfbf;
            border-bottom:1px solid #bfbfbf;
            &:nth-child(4){ margin-top:0;border-top:0} 
            i{
                font-size: 1.3em;
                }
            .setWord{
                 position: absolute;
                 left: 50px;
                 font-size: 1.2em;
                 color: #2c2c2c;
            }
            .btn-tongzhi{
                position: absolute;
                top: 0.4rem;
                right: 20px;
                height:0.5rem;
                width: 1.1rem;
                border-radius: 0.25rem;
                background: #eeb173;
            }
            .btn-tongzhi.active{background: #949494;}
            .btn-tongzhi2{
                position: absolute;
                top: 0.35rem;
                right: 20px;
                height:0.6rem;
                width: 0.6rem;
                border-radius: 0.35rem;
                background: #e0620d;
            }
            @keyframes move1{
                from{
                   transform: translateX(0);
                }
                10%{background: #F6F6F6;}
                to{
                   transform: translateX(-0.5rem); 
                   background: #F6F6F6;
                }
            }
  /*           @keyframes move2{
                from{
                   transform: translateX(0);
                }
                10%{background: #e0620d;}
                to{
                   transform: translateX(0.5rem); 
                   background: #e0620d;
                }
    }*/
           .btn-tongzhi2.active1{
                animation: move1 0.1s ease-in forwards;
            }
            .btn-tongzhi2.active2{
                animation: move2 0.5s ease-in forwards;
            }
            .ljx{
                position: absolute;
                top:0.38rem;
                width: 0.5rem;
                height: 0.5rem;
            }
            .huancun{
                position: absolute;
                right: 20px;
                font-size: 1.1em;
                color:#1c1c1c;
            }
             &:nth-child(3){ i{
                font-size: 1.8em;
                }} 
            span.gt{
                position: absolute;
                right: 20px;
                font-size: 1.1em;
                color:#8a8a8a;
                font-family: '仿宋';
            }
        } 
    }
    .banbenpic{
         position: absolute;
         left: 50%;
         width: 2rem;
         margin-left: -1rem;
         bottom: 40px;
    }
    .banben{
        position: absolute;
        bottom: 20px;
        width: 100%;
        text-align: center;
        font-size:12px;
        color: #000000;
    }
}
#scroller{
    .content{
            .fenxiang{
                display: none;
                .zhezhao1{
                    z-index: 999;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    top: 0;bottom: 0;left: 0;right: 0;
                    background: rgba(0,0,0,.6);
                }
                .alertBox{
                        z-index: 1000;
                        position: absolute;
                        top: 50%;
                        left: 1rem;
                        margin-top: -4rem;
                        height: 8rem;
                        width: 8rem;
                        border-radius: 10px;
                        background: #fff;
                        ul{
                            display: flex;
                            align-content: center;
                            flex-direction: row;
                            flex-wrap: wrap;
                            padding: 1rem 0.25rem;
                            li{
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                flex-direction: column;
                                width:2.5rem;
                                height: 3rem;
                                div{
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    width: 1.5rem;
                                    height: 1.5rem;
                                    border:1px solid #8A8A8A;
                                    border-radius: 0.75rem;
                                    margin-bottom: 10px;
                                    i{font-size: 0.8rem;}
                                   
                                }
                                &:nth-child(1) ,&:nth-child(2){i{color: #05AF10;}};
                                &:nth-child(3){i{color: #f00;}};
                                &:nth-child(4),&:nth-child(5){i{color: #007AFF;}};
                                &:nth-child(6){i{color: #ff6700;}}; 
                                p{font-size: 0.3rem;}
                              
                            }
                        }
                }
            }
    }

}
